.location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f3f4f6;
    border-radius: 10px;
  }
  
  h2 {
    color: #2d3748;
    font-size: 1.5em;
  }
  
  .map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Increase size by 30% */
    width: 400px;
    margin-bottom: 20px;
  }
  
  .map-container {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-image: url('../src/location.png');
    background-size: cover;
    background-position: center;
  }
  
  .buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .location-button {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .location-button:hover {
    background-color: #5a6268;
  }
  
  .slider {
    width: 340px; /* Slightly longer than the edge of the map square */
    margin: 15px 0;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #5a6268;
  }
  