@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Slab:wght@100..900&display=swap');


.apply-page-container {
  font-family: 'Noto Sans' !important;
  max-width: 400px; /* Limits the width to make it look like a phone screen */
  height: 100vh; /* Ensures the container fills the full height of the screen */
  margin: 0 auto;
  padding: 20px;
  background-color: #5F6F52; /* Background color */
  border-radius: 10px; /* Matches the rounded corners of Home.css */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow effect */
  color: #ffffff; /* White text color */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.apply-welcome-text {
  font-size: 35px; /* Matches the title font size in Home.css */
  margin-bottom: 10px;
  font-weight: bold;
}

.apply-subtitle-text {
  font-size: 25px; /* Matches the welcome message font size in Home.css */
  margin-bottom: 10px;
  max-width: 80%; /* Ensures proper alignment and wrapping */
  color: #FFFFFF; /* Light gray for a subtle appearance */
}

.apply-logo {
  width: 250px; /* Matches a proportionate size for phone screens */
  height: auto;
  margin: 15px 0;
}

.apply-thank-you-text {
  font-size: 20px; /* Matches the quiz-prompt font size in Home.css */
  margin-bottom: 20px;
  max-width: 80%;
  color: #FFFFFF; /* Light gray for consistency */
}
