.apply-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #123524; /* Background color */
    text-align: center;
  }
  
  .apply-welcome-text {
    font-size: 32px;
    color: #ffffff;
    margin: 0;
  }
  
  .apply-subtitle-text {
    font-size: 24px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .apply-logo {
    width: 250px; /* Adjust size as needed */
    height: auto;
    margin: 20px 0;
  }
  
  .apply-thank-you-text {
    font-size: 16px;
    color: #ffffff;
    margin: 10px 0 20px;
  }
  