/* Home.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Slab:wght@100..900&display=swap');

.home-container {
    font-family: 'Noto Sans' !important;
    max-width: 400px; /* Limits the width to make it look like a phone screen */
    height: 100vh; /* Ensures the container fills the full height of the screen */
    margin: 0 auto;
    padding: 20px;
    background-color: #5F6F52; /* Dark green background specific to Home page */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ffffff; /* White text color */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    color:#FFFFFF
  }
  
  .welcome-message {
    font-size: 1.2rem;
    margin-bottom: 10px;
    max-width: 80%;
    color: #FFFFFF; /* Light gray for a subtle appearance */
  }
  
  .quiz-prompt {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #FFFFFF;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  
  .quiz-button {
    background-color: #A9B388;
    border: none;
    padding: 10px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 100%; /* Makes each button take full width of the container */
    transition: background-color 0.3s;
  }
  
  .quiz-button:hover {
    background-color: #F2EFDE;
  }
  