.loading-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 480px; /* Maximum width for phone-sized containers */
  margin: 0 auto; /* Center container on wider screens */
  background-color: #123524;
  text-align: center;
  box-sizing: border-box; /* Include padding and border in width/height */
  padding: 20px; /* Add some padding for smaller screens */
}

.welcome-text {
  font-size: 24px; /* Adjust font size for smaller screens */
  color: #ffffff;
  margin: 0;
}

.subtitle-text {
  font-size: 18px; /* Adjust font size for readability */
  color: #ffffff;
  margin: 0;
  margin-bottom: 15px;
}

.logo {
  width: 150px; /* Adjust logo size for smaller screens */
  height: auto; 
  margin: 15px 0;
}

.thank-you-text {
  font-size: 14px; /* Adjust text size for smaller screens */
  color: #ffffff;
  margin: 10px 0 15px;
}

.get-started-button {
  padding: 8px 16px; /* Adjust padding for button */
  font-size: 16px; /* Adjust font size */
  cursor: pointer;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  border-radius: 5px;
  text-align: center;
}
