@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

.profile-container {
    font-family: 'Roboto Slab', serif !important;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .profile-header {
    text-align: center;
    background-color: #65a39b;
    padding: 10px;
    color: #fff;
    border-radius: 10px 10px 0 0;
  }
  
  .profile-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .profile-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .profile-details {
    text-align: center;
    margin-top: 20px;
  }
  
  .apply-button {
    background-color: #00473e;
    color: #fff;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .profile-section {
    margin-top: 20px;
  }
  
  .profile-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .tag {
    background-color: #d6a2e8;
    color: #fff;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
  }
  
  /* .tag:nth-child(2) {
    background-color: #65a39b;
  }
  
  .tag:nth-child(3) {
    background-color: #f89c1c;
  } */
  
  p {
    font-size: 14px;
    color: #333;
  }
  