/* #flex {
    margin: 10px 80px;
    padding: 10px;
} */

.profile-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #A3D9A5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }

  .quiz-item {
    margin-bottom: 30px; 
  }

/* Checkbox custom styling */
.form-check-input[type="checkbox"]:checked {
    background-color: #C38AD1; /* Primary color */
    border-color: #C38AD1;
  }
  .form-check-input[type="checkbox"]:hover {
    background-color: #C38AD1; /* Darker blue on hover */
  }
  
  /* Radio button custom styling */
  .form-check-input[type="radio"]:checked {
    background-color: #C38AD1; /* Green color for selected */
    border-color: #C38AD1;
  }
  .form-check-input[type="radio"]:hover {
    background-color: #C38AD1; /* Darker green on hover */
  }
  
  /* Range slider custom styling */
  input[type="range"] {
    accent-color: #C38AD1; /* General color for browsers */
  }
  
  /* For WebKit browsers */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #C38AD1; /* Purple track */
    height: 6px; /* Adjust the track height */
  }
  input[type="range"]::-webkit-slider-thumb {
    background-color: #C38AD1; /* Green thumb */
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin-top: -6px; /* Centers the thumb */
  }
  
  /* For Firefox */
  input[type="range"]::-moz-range-track {
    background-color: #C38AD1;
    height: 6px;
  }
  input[type="range"]::-moz-range-thumb {
    background-color: #C38AD1;
    border-radius: 50%;
    width: 18px;
    height: 18px;
  }
  
  /* Submit button customization */
  .btn-primary {
    background-color: #C38AD1; /* Teal color */
    border-color: #C38AD1;
  }
  .btn-primary:hover {
    background-color: #C38AD1; /* Darker teal on hover */
    border-color: #C38AD1;
  }
  