/* Results.css */

.results-container {
  font-family: Arial, sans-serif;
  max-width: 400px; /* Adjusted for narrower screens */
  margin: 0 auto;
  padding: 20px;
  background-color: #A3D9A5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.results-header {
  text-align: center;
  background-color: #65a39b;
  padding: 15px;
  color: white;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
}

.results-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.result-card {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
}

.result-image {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-right: 20px;
}

.result-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.more-info-button {
  background-color: #00473e;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  width: 160px;
  text-align: center;
}

.result-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.result-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.result-age {
  font-size: 16px;
  margin-bottom: 10px;
}

.match-circle {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border: 5px solid #A3D9A5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tag {
  background-color: #d6a2e8;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
}

.footer-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px;
}
